# dependencies
node_modules/

# expo
.expo/
dist/
web-build/
expo-env.d.ts

# native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macos
.DS_Store
*.pem

# local env files
.env*.local
.env*

# typescript
*.tsbuildinfo

TODO.txt
/android
nul
AGENTS.md
neetzyme1_neet_prep.sql
backend/admin-dist/
backend/web-dist/
*.sql
app.json
neetzymee-f9f20-5102a55dab4d.json
google-services.json
