# dependencies
node_modules/

# expo
.expo/
dist/
web-build/
expo-env.d.ts

# native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macos
.DS_Store
*.pem

# local env files
.env*.local
.env*

# typescript
*.tsbuildinfo

TODO.txt
/android
nul
AGENTS.md
neetzyme1_neet_prep.sql
backend/admin-dist/
backend/web-dist/
*.sql
app.json
neetzymee-f9f20-5102a55dab4d.json
google-services.json
neet-zyme-prototype-3-3-2.html
*.mp4
hero-poster.jpg
assets/images/old/adaptive-icon.png
assets/images/old/favicon.png
assets/images/old/icon.png
assets/images/old/Modern_minimal_Android_app_icon._202606291945 - Copy (2).jpeg
assets/images/old/Modern_minimal_Android_app_icon._202606291945.jpeg
assets/images/old/splash-icon.png
Website_Speed_Report_MilesWeb_files/
Website_Speed_Report_MilesWeb.html
website/Improvement.md
NeetZymeeSession.md
